<!-- images -->

<p ng-show="ctrl.images.error" class="text-danger">{{ctrl.images.error}}</p>
<p ng-hide="ctrl.images.results.length" class="text-info">{{ctrl.images.noResultsMessage}}</p>

<div ng-repeat="image in ctrl.images.results | orderBy: ctrl.params.settings.orderBy" class="img-wrapper">
    <div class="inner-img-wrapper" >
        <a ng-href="{{image.fullurl}}" target="_blank">
            <img ng-src="{{image.thumbnail.source}}" alt="{{image.title}}" class="images">
        </a><br>
        <span ng-show="image.desc" ng-bind-html="image.desc" class="desc"></span>
    </div>
</div>

<div>
    <button type="button" class="btn btn-default" ng-show="ctrl.showLoadMore()" ng-click="ctrl.loadMore()">Load more</button>
</div>
