/* DEFAULTS */

[ng-cloak],
[data-ng-cloak] {
    display: none !important;
}

* {
    /*transition: all 0.3s ease-out;*/
}


/* HELPERS */

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.justify-helper {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.img-large {
    max-width: 250px;
}

.selected-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.inline-block {
    display: inline-block;
}


/* HEADER */

.header {
    background: #F1F1F1;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo-wrap {
    margin-bottom: 20px;
}

.wiki-logos {
    text-align: justify;
}

.wiki-logos label {
    display: inline;
    /* becouse of justify */
}

.wiki-logos input {
    display: none;
}

.wiki-logos img {
    cursor: pointer;
}

.search-wrapper {
    position: relative;
}

.search-button {
    position: absolute;
    right: 0;
}


/* MAIN */

.main {
    margin-bottom: 40px;
}

/* MAIN PAGE */

page {
    float: right;
}

.lead-wrapper {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
}

.articles,
.choosen-article {
    padding: 0 20px;
}

.col-md-6 .choosen-article {
    max-height: 1200px;
    overflow-y: scroll;
}

.read-more {
    margin-right: 30px;
}

.lead-wrapper .read-more {
    margin-top: 10px;
}

/* PAGES */


/* MAIN IMAGE */

.main-image {
    width: 25%;
    float: right;
    padding: 0 20px;
}

.image-full {
    width:100%;
}

/* IMAGES */

.img-wrapper {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.inner-img-wrapper {
    position: relative;
}


.desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    padding: 5px 10px;
    margin-bottom: 0;
}

/* FORK-ME */

.forkme-wrapper {
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0
}

.forkme {
    position: absolute;
    top: 80px;
    transform: rotate(-45deg);
    background-color: #666;
    padding: 2px 0;
    z-index: 999;
}

.forkme a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    text-align: center;
    width: 200px;
    display: inline-block;
    padding: 2px 0;
}
