/* DEFAULTS */

[ng-cloak],
[data-ng-cloak] {
    display: none !important;
}

* {
    transition: all 0.3s ease-out;
}


/* HELPERS */

.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.justify-helper {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.img-large {
    max-width: 300px;
}

.selected-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.inline-block {
    display: inline-block;
}

.img-wrapper {
    display: inline-block;
    width: 25%;
}


/* HEADER */

.header {
    background: #F1F1F1;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo-wrap {
    margin-bottom: 20px;
}

.main-logos {
    text-align: justify;
}

.main-logos label {
    display: inline;
    /* becouse of justify */
}

.main-logos input {
    display: none;
}

.main-logos img {
    cursor: pointer;
}

.search-wrapper {
    position: relative;
}

.search-button {
    position: absolute;
    right: 0;
}


/* MAIN */

.main {
    margin-bottom: 40px;
}

.choosen-article-wrapper {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
}

.articles,
.choosen-article {
    padding: 0 20px;
}

.col-md-6 .choosen-article {
    max-height: 1200px;
    overflow-y: scroll;
}

.read-more {
    margin-right: 30px;
}

.choosen-article-wrapper .read-more {
    margin-top: 10px;
}


/* https://github.com/simonwhitaker/github-fork-ribbon-css */

.github-fork-ribbon {
    position: absolute;
    padding: 2px 0;
    background-color: #a00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 9999;
    pointer-events: auto
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    text-align: center;
    width: 200px;
    line-height: 20px;
    display: inline-block;
    padding: 2px 0;
    border-width: 1px 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, .7)
}

.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none
}

.github-fork-ribbon-wrapper.right-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    right: 0
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    top: 80px;
    right: -43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.right-bottom .github-fork-ribbon {
    background-color: #090;
}
