<form role="form">
    <div class="wiki-logos">
        <!-- projects -->
        <label ng-repeat="project in ctrl.projectService.projects">
            <img ng-src="{{project.logo}}" alt="{{project.name}}" title="{{project.name}}" ng-class="{ 'selected-logo': ctrl.isSelectedProject(project) }">
            <input type="radio" ng-model="ctrl.paramService.settings.domain" value="{{project.name}}" ng-click="ctrl.refreshLanguages(); mainControl.search()">
        </label>
        <span class="justify-helper"></span>
    </div>
</form>
