<!-- main-image -->
<div class="main-image lead-wrapper pull-right" ng-show="mainImgControl.mainImageService.result">
    <a ng-href="{{mainImgControl.mainImageService.result.fullurl}}" target="_blank">
        <h1>{{mainImgControl.mainImageService.result.title}}</h1>

        <img ng-show="mainImgControl.mainImageService.result.thumbnail" ng-src="{{mainImgControl.mainImageService.result.thumbnail.source}}" alt="{{mainImgControl.mainImageService.result.title}}" class="img-responsive img-rounded image-full">
    </a>
    <p ng-bind-html="mainImgControl.mainImageService.result.extract" ng-hide="mainImgControl.isEmptyExtract()"></p>

    <p class="read-more text-info pull-right"><a ng-href="{{mainImgControl.mainImageService.result.fullurl}}" target="_blank">See on <span class="text-capitalize">{{mainImgControl.paramService.settings.domain}}</span> >> </a></p>
</div>
