<!-- pages-->
<div ng-controller="PagesController as ctrl" class="pages-wrapper" ng-class="ctrl.toggleHide()">

    <p ng-show="ctrl.pagesService.error" class="text-danger">{{ctrl.pagesService.error}}</p>
    <p ng-hide="ctrl.pagesService.results.length" class="text-info">{{ctrl.pagesService.noResultsMessage}}</p>

    <article ng-repeat="page in ctrl.pagesService.results | orderBy: ctrl.paramService.settings.orderBy" class="articles" ng-class="{'hidden': ctrl.isSelectedPage(page)}">
        <h2 class="text-info">
            <span title="Open this article" ng-click="ctrl.open(page.title)" class="pointer" >{{page.title}}</span>
        </h2>
        <a ng-href="{{page.image}}" target="_blank">
            <img ng-src="{{page.thumbnail.source}}" alt="{{page.title}}" class="img-thumbnail" ng-show="page.thumbnail.source">
        </a>
        <section ng-bind-html='page.extract' ng-dblclick="ctrl.selectText()"></section>
        <p class="read-more text-info pull-right"><a ng-href="{{page.fullurl}}" target="_blank">See on <span class="text-capitalize">{{ctrl.paramService.settings.domain}}</span> >> </a></p>
    </article>

    <div class="loadmore-wrapper">
        <button type="button" class="btn btn-default" ng-show="ctrl.showLoadMore()" ng-click="ctrl.loadMore()">Load more</button>
    </div>
</div>
