<!-- page: izbaciti mainControl.selectText -->
<div ng-controller="MainPageController as ctrl" class="main-page-wrapper" ng-class="ctrl.toggleFullWidthClass()">

    <p ng-show="ctrl.languageService.error" class="text-danger">{{ctrl.languageService.error}}</p>

    <nav ng-show="ctrl.paramService.pageLarge">
        <button title="Back to serch results" class="btn btn-link" ng-click="ctrl.toggleLeadLarge()">« Back</button>

        <button title="Search for this term" class="btn btn-link pull-right" ng-click="ctrl.searchForThisTerm(ctrl.mainPageService.result.title)">Search for this term »</button>
    </nav>

    <section class='lead-wrapper' ng-show='ctrl.mainPageService.result'>
        <article class="choosen-article clearfix">
            <h1 class="text-info">
                <span title="Englarge this article" ng-click="ctrl.toggleLeadLarge()" class="pointer">{{ctrl.mainPageService.result.title}}</span>
            </h1>
            <a ng-href="{{ctrl.mainPageService.result.image}}" ng-show="ctrl.mainPageService.result.image" target="_blank">
                <img ng-src="{{ctrl.mainPageService.result.thumbnail.source}}" alt="{{ctrl.mainPageService.result.title}}" class="img-large img-thumbnail pull-right">
            </a>
            <section ng-bind-html='ctrl.mainPageService.result.extract' ng-dblclick="mainControl.selectText()"></section>
        </article>

        <p class="read-more text-info pull-right"><a ng-href="{{ctrl.mainPageService.result.fullurl}}" target="_blank">See on <span class="text-capitalize">{{ctrl.paramService.settings.domain}}</span> >> </a></p>
    </section>
</div>
